<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="main.css" /> -->
  </head>
  <body class="bg-[#02042a] flex justify-center align-middle h-[100vh]">
    <div class="flex flex-col my-auto">
      <div class="font-mullish font-bold text-6xl text-white text-center">
        404-Not Found!
      </div>
      <div class="font-mullish text-white text-xl text-center">
        This Page Does Not Exist :C
      </div>
    </div>
  </body>
</html>