<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #010218;
    color: white;
    font-family: cool;
}
@font-face {
    font-family: cool;
    src: url(./Mulish-Black.ttf);
}
.submit-button{
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    background-color: #4b94ed;
    font-family: cool;
    font-size: medium;
    font-weight: 300;
    color: white;
    border-style: none;
    margin: 1rem;
    transition: all 200ms ease;
}
.submit-button:hover{
    box-shadow: 0 0 30px rgb(75, 148, 237, 0.5);
}
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Already logged on as a teacher from this device : |</h2>
        <h2>Press here to logout</h2>
        <a href="/logout" class="submit-button">Log Out</a>
    </div>
</body>
</html>