<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <link rel="stylesheet" href="main.css" /> -->
    <style>
      @font-face {
        font-family: mullish;
        src: url(./Mulish-SemiBold.ttf);
      }

      .to-animate {
        text-shadow: #2b84ea 10px 0 100px;
      }
    </style>
  </head>
  <body>
    <nav class="w-full bg-[#02042a]">
      <div
        class="max-w-[1080px] w-10/12 mx-auto py-3 flex items-center justify-between"
      >
        <div class="font-thin font-mullish text-white text-2xl">
          Lingua <span class="font-bold">Connect</span>
          <span class="text-gray-950 text-3xl">.</span>
        </div>
        <div class="flex space-x-9">
          <div
            class="relative font-mullish text-white self-center font-bold text-sm h-full py-4 group cursor-pointer"
          >
            EN
            <div
              class="absolute h-[0.75px] w-full bg-[#2b84ea] opacity-0 group-hover:opacity-100 bottom-0"
            ></div>
          </div>
          <div class="relative inline-block text-left self-center">
            <div>
              <button
                type="button"
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-4 py-3 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300"
                id="menu-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                Log in
                <svg
                  class="-mr-1 h-5 w-5 text-[#2b84ea]"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
            <div
              id="dropdown-menu"
              class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="py-1" role="none">
                <a
                  href="/login_teacher"
                  class="text-gray-700 block px-4 py-2 text-sm"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-0"
                  >As a Teacher</a
                >
                <a
                  href="/login_student"
                  class="text-gray-700 block px-4 py-2 text-sm"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-1"
                  >As a Student</a
                >
              </div>
            </div>
          </div>
          <div class="relative inline-block text-left self-center">
            <div>
              <button
                type="button"
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-4 py-3 text-sm font-semibold bg-white text-[#4b94ed] shadow-sm ring-1 ring-inset ring-gray-300 hover:text-[#0b72e7]"
                id="menu1-button"
                aria-expanded="false"
                aria-haspopup="true"
              >
                Sign Up
                <svg
                  class="-mr-1 h-5 w-5 text-[#2b84ea]"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
            <div
              id="dropdown1-menu"
              class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="py-1" role="none">
                <a
                  href="/signup_teacher"
                  class="text-gray-700 block px-4 py-2 text-sm"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-0"
                  >As a Teacher</a
                >
                <a
                  href="/signup_student"
                  class="text-gray-700 block px-4 py-2 text-sm"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-1"
                  >As a Student</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--hero section-->
    <div class="bg-[#02042a]">
      <div class="max-w-[1080px] w-10/12 mx-auto flex flex-col">
        <!--content-->
        <div class="py-28 flex justify-between gap-8">
          <!--left-->
          <div class="flex justify-between">
            <div
              class="text-white text-[40px] font-mullish font-bold flex flex-col"
            >
              <div class="-mb-2">Learn Any</div>
              <div class="">Language Like a</div>
              <div class="text-[#2b84ea] text-[80px] -mt-6 to-animate">PRO</div>
            </div>
          </div>

          <div class="self-center max-w-[500px]">
            <p class="font font-mullish text-white self-center">
              Welcome to Lingua Connect, where language learning becomes an
              enriching journey. At Lingua Connect, We are dedicated to
              providing immersive and effective language learning opportunities
              for individuals of all ages and backgrounds. Whether you're a
              beginner eager to embark on a new linguistic adventure or an
              advanced learner seeking to refine your skills, our tailored
              courses cater to diverse proficiency levels. Start your linguistic
              journey with Lingua Connect today.
            </p>
          </div>
        </div>

        <div class="self-center pb-28">
          <button
            class="bg-[#2b84ea] shadow-cyan-500/50 text-white py-[14px] px-[18px] rounded-md font-mullish font-bold transition-all duration-200 n"
          >
            Join Now
            <style>
              .n:hover {
                box-shadow: 0 0 50px rgb(42, 131, 234, 0.3);
              }
            </style>
          </button>
        </div>
      </div>
    </div>
    <!--features-->
    <div class="mt-8">
      <div class="font-mullish font-bold text-2xl text-center my-6">
        Our Features
      </div>

      <div class="grid grid-cols-3 gap-10 max-w-[1080px] w-10/12 mx-auto my-10">
        <div
          class="bg-[#02042a] rounded-lg p-5 flex flex-col w-full space-y-4 hover:shadow-2xl hover:scale-110 transition-all duration-200"
        >
          <div
            class="flex flex-col font-mullish font-bold flex-wrap text-white text-[20px]"
          >
            Live Tutor Support
          </div>

          <p class="text-white opacity-85 text-sm">
            "Connect with experienced tutors in real-time for personalized
            assistance. Break through challenges with expert guidance at
            your fingertips."
          </p>
        </div>
        <div
          class="bg-[#02042a] rounded-lg p-5 flex flex-col w-full space-y-4 hover:shadow-2xl hover:scale-110 transition-all duration-200"
        >
          <div
            class="flex flex-col font-mullish font-bold flex-wrap text-white text-[20px]"
          >
            User-Friendly Interface
          </div>

          <p class="text-white opacity-85 text-sm">
            "Experience seamless navigation with our user-friendly interface,
            designed for simplicity and efficiency. Say goodbye to complexity
            and hello to an intuitive experience."
          </p>
        </div>
        <div
          class="bg-[#02042a] rounded-lg p-5 flex flex-col w-full space-y-4 hover:shadow-2xl hover:scale-110 transition-all duration-200"
        >
          <div
            class="flex flex-col font-mullish font-bold flex-wrap text-white text-[20px]"
          >
            Interactive Lessons
          </div>

          <p class="text-white opacity-85 text-sm">
            "Engage in interactive lessons that make learning a joy. From
            quizzes to multimedia content, our lessons keep you actively
            involved in the learning process."
          </p>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuButton = document.getElementById("menu-button");
        const dropdownMenu = document.getElementById("dropdown-menu");

        menuButton.addEventListener("click", function () {
          const expanded = menuButton.getAttribute("aria-expanded") === "true";
          menuButton.setAttribute("aria-expanded", !expanded);
          dropdownMenu.classList.toggle("hidden");
        });

        // Close dropdown when clicking outside
        document.addEventListener("click", function (event) {
          if (
            !dropdownMenu.contains(event.target) &&
            !menuButton.contains(event.target)
          ) {
            dropdownMenu.classList.add("hidden");
            menuButton.setAttribute("aria-expanded", "false");
          }
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menuButton = document.getElementById("menu1-button");
        const dropdownMenu = document.getElementById("dropdown1-menu");

        menuButton.addEventListener("click", function () {
          const expanded = menuButton.getAttribute("aria-expanded") === "true";
          menuButton.setAttribute("aria-expanded", !expanded);
          dropdownMenu.classList.toggle("hidden");
        });

        // Close dropdown when clicking outside
        document.addEventListener("click", function (event) {
          if (
            !dropdownMenu.contains(event.target) &&
            !menuButton.contains(event.target)
          ) {
            dropdownMenu.classList.add("hidden");
            menuButton.setAttribute("aria-expanded", "false");
          }
        });
      });
    </script>
  </body>
</html>