<style>
    .formfield-cointainer2{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.formfield{
    display: block;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.submit-button{
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    background-color: #4c94ed;
    font-family: cool;
    font-size: medium;
    font-weight: 300;
    color: white;
    border-style: none;
    margin: 1rem;
    transition: all 200ms ease;
}
.submit-button:hover{
    box-shadow: 0 0px 20px  rgb(75, 148, 237, 0.5);
}
</style>
<form action="/question_submit_teacher" class="form" method="post">
    <div class="formfield-cointainer2">
        <input type="text" class="formfield" name="mydoubt" placeholder="Question" id="mydoubt">
        <input type="text" class="formfield" name="to" placeholder="Student email (Type public for public question)" id="to">
        <input type="text" class="formfield" name="answer" placeholder="Answer (Leave empty for student self study)" id="answer">
        <input class="submit-button" type="submit" value="Submit" id="submit">
    </div>
</form>