<form action="/regis_teacher_stu" class="form" method="post">
      <input
        type="text"
        placeholder="Email"
        id="email"
        name="email"
      />
      <input
              class="submit-button"
              type="submit"
              value="Submit"
              id="submit"
            
            />
</form>