<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @font-face {
        font-family: mullish;
        src: url(./Mulish-SemiBold.ttf);
      }
    </style>
  </head>
  <body class="bg-[#010218]">
    <div
      class="flex min-h-full flex-col justify-center px-6 py-12 mt-9 lg:px-8"
    >
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white"
        >
          Sign in to your account
        </h2>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6 form" action="/login_teacher" method="POST">
          <div>
            <label
              for="email"
              class="block text-sm font-medium leading-6 text-white"
              >Email address</label
            >
            <div class="mt-2">
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                required
                class="block w-full rounded-md border-0 py-1.5 text-black font-mullish font-bold shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[rgb(44,225,165)] sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label
                for="password"
                class="block text-sm font-medium leading-6 text-white"
                >Password</label
              >
              <div class="text-sm">
                <a
                  href="#"
                  class="font-semibold text-[rgb(44,225,165)] hover:text-[rgb(44,225,165)]"
                  >Forgot password?</a
                >
              </div>
            </div>
            <div class="mt-2">
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required
                class="block w-full rounded-md border-0 py-1.5 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-[rgb(44,225,165)] sm:text-sm sm:leading-6"
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-[rgb(44,225,165)] px-3 py-1.5 text-sm font-semibold leading-6 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[rgb(44,225,165)] need transition-all duration-200"
            >
              Sign in
              <style>
                .need:hover {
                  box-shadow: 0 0 20px rgb(44, 265, 165, 0.5);
                }
              </style>
            </button>
          </div>
        </form>
        <p class="text-white font-bold my-4">
          New user?
          <a href="/signup_teacher"><span class="text-[rgb(44,225,165)]">Sign Up</span></a>
        </p>
      </div>
    </div>
  </body>
</html>