<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: cool;
    src: url(./Mulish-Black.ttf);
}
.wrapper{
    background-color: #010218;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.title{
    text-align:center;
    font-family: cool;
    font-size: x-large;
    color: white;
    margin-bottom: 0.5rem;
}
.formfield-cointainer2{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.yea{
    display: flex;
}
.formfield{
    display: block;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
#select{
    appearance: none;
    transition: all 1s ease 10ms;
}
.opt{
    padding: 0.5rem;
    font-size: medium;
}
.opt:hover{
    box-shadow: 0 0 10px 100px #b9b9b9 inset;
}
.submit-button{
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    background-color: #34eb7a;
    font-family: cool;
    font-size: medium;
    font-weight: 300;
    color: white;
    border-style: none;
    margin: 1rem;
    transition: all 200ms ease;
}
.submit-button:hover{
    box-shadow: 0 0px 20px  rgba(44, 221, 165, 0.5);
}
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Register as a Tutor
        </div>
        <form action="/sign_up_teacher" class="form" method="post">
            <div class="formfield-cointainer2">
                <div class="yea">
                    <div class="left">
                        <input type="text" class="formfield" name="username" placeholder="UserName" id="username">
                        <input type="password" class="formfield" name="password" placeholder="Password" id="password">
                        <input type="text" class="formfield" name="phno" placeholder="Phone number" id="phno">
                    </div>
                    <div class="right">
                        <input type="text" class="formfield" name="age" placeholder="Age" id="age">
                        <input type="text" class="formfield" name="email" placeholder="Email" id="email">
                        <input type="text" class="formfield" name="price" placeholder="Price" id="price">
                    </div>
                </div>
                <input type="text" placeholder="Qualification" list="degrees" class="formfield" id="qualification" name="qualification"/>
                        <datalist id="degrees">
                            <option class="opt" value="TESOL">TESOL</option>
                            <option class="opt" value="TEFL">TEFL</option>
                            <option class="opt" value="Bachelor's degree">Bachelor's degree(in desired language)</option>
                            <option class="opt" value="Other">Other</option>
                        </datalist>
                    <input type="text" placeholder="Language" list="languages" class="formfield" id="language" name="language"/>
                        <datalist id="languages">
                            <option class="opt" value="English">English</option>
                            <option class="opt" value="German">German</option>
                            <option class="opt" value="Japanese">Japanese</option>
                            <option class="opt" value="French">French</option>
                            <option value="Spanish" class="opt">Spanish</option>
                            <option value="Other" class="opt">Other</option>
                        </datalist>
                    <input type="text" placeholder="Preferred Schedule" list="schedule" class="formfield" id = "schedules" name="schedule"/>
                        <datalist id="schedule">
                            <option class="opt" value="Morning">Morning</option>
                            <option class="opt" value="Afternoon">Afternoon</option>
                            <option class="opt" value="Evening">Evening</option>
                            <option class="opt" value="Night">Night</option>
                        </datalist>
                <input class="submit-button" type="submit" value="Submit" id="submit" onclick="datalistCall()">
            </div>
        </form>
    </div>
</body>
</html>